{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'agendamento.css' %}" />
    <link rel="stylesheet" href="{% static 'form.css' %}" />
    <title>Registro</title>
  </head>
  <body>
        <form class="form" method="post">
          {% csrf_token %}
          <div>
            <div class="form-single">
              <label class="label">Nome</label>
              {{agendform.nome}}
            </div>
      
            <div>
              <label class="label">Data</label>
              {{agendform.data}}
            </div>
            <div>
              <label class="label">Barbeiro</label>
              {{agendform.funcionarios}}
            </div>
          </div>

          <div>
            <div>
              <label class="label">Sobrenome</label>
              {{agendform.sobrenome}}
            </div>
            <div>
              <label class="label">Hora</label>
              {{agendform.hora}}
            </div>
            <div>
              <label class="label">Nº de telefone</label>
              {{agendform.tel}}
            </div>
          </div>

          
          <div id="servico">
            <label class="label">Serviços</label>
            {% for s in servicoform %}
            <div>
              <input type="checkbox" id="{{s.id}}" name="servico-{{s.id}}"> 
              <span><b>R${{s.valor}}</b>{{s.servico}}</span>
            </div>
            {% endfor %}
          </div>

          <button type="submit" class="button">Agendar</button>

      </form>    
  </body>
</html>
