{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Registro</title>
</head>
<body>
    <div class="btn_back"><button onclick="{window.history.back()}">Voltar</button></div>
    <div class="content">
        <div class="left-content">
            <form class="form" name="cad_user" method="post" action="/docad/"method="post" action="./">
                {% csrf_token %}
                <div class="form-single">
                    <label class="label">Usuário</label>
                    {{form.usuario}}
                </div>
                <div>
                    <label class="label">Email</label>
                    {{form.email}}
                </div>
                <div>
                    <label class="label">Data de nascimento</label>
                    {{form.nascimento}}
                </div>
                <div>
                    <label class="label">Nº de telefone</label>
                    {{form.tel}}
                </div>
                <div>
                    <label class="label">Senha</label>
                    {{form.senha}}
                </div>
                <div>
                    <label class="label">Confirmar senha</label>
                    {{form.confirma_senha}}
                </div>
                <div style="display: none">
                    {{form.confirma_nova_senha}}
                </div>
                <div id="result">
    
                </div>
                <button id="btn" type="submit" class="button" disabled="true">Registrar</button>
            </form>
        </div>
        <img class="img" src="https://i.imgur.com/lQ5bqwq.png">
    </div>

    <script type="text/javascript" src="{% static 'js/cadastro.js' %}"></script>
    <script>
        let input = document.getElementById("id_confirma_nova_senha");

        input.required = false
        input.value = "oi"
    </script>
</body>
</html>