{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Login</title>

</head>
<body>
    <div class="btn_back"><button onclick="{window.history.back()}">Voltar</button></div>
    <div class="content">
        <div class="left-content">
            <h2>
                ModernSaloon
            </h2>
            <form class="form" name="log_user" method="post" action="/dolog/"method="post" action="./">
                {% csrf_token %}
                <div>
                    <label class="label">Usuário</label>
                    {{login.usuario}}
                </div>
                <div>
                    <label class="label">Senha</label>
                    {{login.senha}}
                </div>
                <button type="submit" class="button">Entrar</button>

                <div class="links">
                    <p><a href = "{% url 'cadastro' %}">Registrar</a> ou <a href = "{% url 'esqueceuSenha' %}">esqueceu a senha</a></p>
                </div>
            </form>
        </div>
        <img class="img" src="https://i.imgur.com/Wek66XX.png">

    </div>

    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</body>
</html>