:root {
    --bg-body: #121212;
    --bg-body-800: #222222;
    --bg-body-500: #555555;
    --bg-button: #ffa500;
    --text-link-color: #ffa500;
    --text-color: #fff;
}

body {
    height: 160vh !important;
}

.content {
    justify-content: center !important;
}

.form {
    width: 600px !important;
}

#servico {
    width: 270px;
    margin: 10px 0;
    padding: 5px;
}

#servico > div {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    padding: 0 20px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

#servico > div > input {
    width: 20px;
    height: 20px;
}

#servico > div > span {
    display: flex;
    justify-content: flex-start;
    width: 190px;
}