{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Homepage</title>
</head>
<body>
    <div class="content">
        <header>
            <h1>ModernSaloon</h1>
            <nav>
              <ul>
                <li>{% if custom == "LOGOUT" %}
                  <a href="/dologout/">{{custom}}</a>
                  {% else %}
                  <a href ="/login/">{{custom}}</a>
                  {% endif %}</li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Cortes</a></li>
                <li><a href="#">Equipe</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Agendamentos</a></li>
              </ul>
            </nav>
          </header>
    
          <div class="body-header">
            <div>
                <p>
                    {{uid.usuario}}
                    <p>Saloon</p>
                    <p>Barbearia</p>
                </p>
            </div>

            <img src="https://i.imgur.com/eEuXeAQ.png">
          </div>

          <div class="body">
            <img src="https://i.imgur.com/8JUEUOz.png">
          </div>
    </div>
    <script>
      let btn = document.getElementById("btn");

      btn.addEventListener("click", () => {
          window.location.href = "/dologout/"
      })
  </script>
</body>
</html>