{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Alterar senha</title>
</head>

<body>
    <div class="content">
        <div class="left-content">
            <h2>
                ModernSaloon
            </h2>
            <form action="/doupdate/" class="form" method="post">
                {% csrf_token %}
                <div>
                    <label class="label">Novo usuario</label>
                    {{perfil.usuario}}
                </div>

                <div>
                    <label class="label">Novo email</label>
                    {{perfil.email}}
                </div>

                <div>
                    <label class="label">Senha atual</label>
                    {{perfil.confirma_senha}}
                </div>

                <div>
                    <label class="label">Nova senha</label>
                    {{perfil.senha}}
                </div>

                <div>
                    <label class="label">Confirmar nova senha</label>
                    {{perfil.confirma_nova_senha}}
                </div>

                <div id="result"></div>

                <button type="submit" class="button" id="btn" disabled="true">Atualizar</button>

            </form>
        </div>
        <img class="img" src="https://i.imgur.com/ooaBjFH.png">
    </div>
    <script type="text/javascript" src="{% static 'js/editar.js' %}"></script>
</body>

</html>