{%load static%}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Alterar senha</title>
</head>
<body>
    <div class="left-content">
        <h2>
            ModernSaloon
        </h2>
        <form action="" class="form">
            <div>
                <label class="label">Nova senha</label>
                <input type="password" class="input">
            </div>

            <div>
                <label class="label">Confirmar senha</label>
                <input type="password" class="input">
            </div>

            <button type="submit" class="button">Enviar</button>

        </form>
    </div>
    <img class="img" src="https://i.imgur.com/ooaBjFH.png">
</body>
</html>